<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd"
  xmlns:p="http://www.springframework.org/schema/p">
    <!-- services -->
    
    <bean class="com.springcore.autowire_xml.Address" name="add1">
    <property name="street" value="B.N Road" />
    <property name="city" value="Mumbai" />
    </bean>
   
   <!-- <bean class="com.springcore.autowire_xml.Emp" name="emp1" autowire="byName"/>
    -->
    
   <!-- <bean class="com.springcore.autowire_xml.Emp" name="emp1" autowire="byType"/>
     -->
     
     <bean class="com.springcore.autowire_xml.Emp" name="emp1" autowire="constructor"/>
     
    
</beans>