<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  		https://www.springframework.org/schema/beans/spring-beans.xsd
  		http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd"
  	  xmlns:p="http://www.springframework.org/schema/p"
      xmlns:context="http://www.springframework.org/schema/context">
    <!-- services -->
    <context:annotation-config></context:annotation-config>
    
    <bean class="com.springcore.autowire_annot.Address" name="addd">
    <property name="street" value="B.N Road" />
    <property name="city" value="Mumbai" />
    </bean>
   
   
   
    
     <bean class="com.springcore.autowire_annot.Emp" name="emp1" />
     
    
</beans>